body {
  padding-left: 0;
}

@media only screen and (min-width: 1024px) {
  body {
    padding-left: var(--nav-width);
  }
}

button {
  border: none;
  font-size: 0.883rem;
  padding: 0.375rem 0.75rem;
  border: 2px solid var(--c-blue-1);
  color: var(--c-blue-1);
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background: var(--c-blue-1);
  color: #fff;
}
