html {
  font-size: var(--font-size);
}

body {
  font-size: var(--font-size);
  line-height: 1.5;
  font-family: proxima-nova, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

h1,
h2,
h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1;
  letter-spacing: -0.025em;
  max-width: var(--max-copy-width);
  color: #222;
}

h1 {
  font-size: var(--ms3);
}

h2 {
  font-size: var(--ms2);
}

h3 {
  font-size: var(--ms1);
  margin-top: 2rem;
}

p {
  font-size: 1rem;
  margin-top: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: var(--max-copy-width);
}

h2 + p,
h3 + p {
  margin: 0;
}

ul,
ol {
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: var(--max-copy-width);
}

li p + ul {
  margin-top: 0.25rem;
}

li {
  margin-top: 0.25rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

li:first-of-type {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.2;
  font-size: 0.884rem;
  min-width: 700px;
  border-radius: 4px;
}

tr {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}
