html {
  font-size: var(--font-size);
}

body {
  font-size: var(--font-size);
  line-height: var(--multiplier);
  font-family: proxima-nova, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.84);
}

h1,
h2,
h3 {
  margin-top: calc(var(--multiplier) / 0.5);
  margin-bottom: calc(var(--multiplier) / 2);
  line-height: 1;
  letter-spacing: -0.025em;
  max-width: var(--max-copy-width);
  color: rgba(0, 0, 0, 0.93);
}

h1 {
  font-size: var(--ms3);
}

h2 {
  font-size: var(--ms2);
}

h3 {
  font-size: var(--ms1);
  margin-top: calc(var(--multiplier) / 0.75);
  font-weight: 500;
}

p {
  font-size: 1rem;
  margin-top: calc(var(--multiplier) / 1.25);
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: var(--max-copy-width);
}

h2 + p,
h3 + p {
  margin-top: 0;
}

ul,
ol {
  margin-left: 0.5rem;
  margin-top: calc(var(--multiplier) / 1.25);
}

li {
  margin-top: calc(var(--multiplier) / 4);
}

li:first-of-type {
  margin-top: 0;
}

table {
  margin: calc(var(--multiplier) / 0.75) 0;
  width: 100%;
  border-collapse: collapse;
  line-height: 1.2;
  font-size: 0.884rem;
  min-width: 700px;
}

tr {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}
