:root {
  /* font size stuff */
  --min-font-size: 16;
  --max-font-size: 20;
  --min-font-size-px: calc(1px * var(--min-font-size));
  --max-font-size-px: calc(1px * var(--max-font-size));
  --font-size: var(--min-font-size-px);

  /* modular scale stuff */
  --ms-ratio: 1.25;
  --ms-base: 1rem;
  --ms0: var(--ms-base);
  --ms1: calc(var(--ms-ratio) * var(--ms0));
  --ms2: calc(var(--ms-ratio) * var(--ms1));
  --ms3: calc(var(--ms-ratio) * var(--ms2));
  --ms4: calc(var(--ms-ratio) * var(--ms3));
  --ms5: calc(var(--ms-ratio) * var(--ms4));

  /* wrappers */
  --wrapper-width: 68rem;
  --nav-width: 18vmax;
  --max-copy-width: 100%;

  /* colors */

  --c-blue-1: #313842;
}

@media only screen and (min-width: 320px) {
  :root {
    --font-size: calc(
      var(--min-font-size-px) + (var(--max-font-size) - var(--min-font-size)) *
        ((100vw - 320px) / (1920 - 320))
    );
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --max-copy-width: 40rem;
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    --nav-width: 300px;
    --font-size: var(--max-font-size-px);
  }
}
